.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin:  50px auto 0;
}

.login-form__field {
    padding: 10px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.login-form__field:focus {
    outline: none
}

.login-form__btn {
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.login-form__btn:focus {
    outline: none
}

.login-form__btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}